<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<a href="{% url 'index' %}"> Atras </a>

<h1>  Localizaciones </h1>
<h2>{{ contactInstance.firstName }} {{ contactInstance.lastName }}</h2>

<form action="{{ request.path }} " method="post">
    {% csrf_token %}
    {{ form }}
    <table>
        {{ formSet.as_table }}
        {{ formSet.management_form }}
    </table>

    <input type="submit" value="Enviar"/>
</form>

{% if contactInstance.location_set.all %}
    <ul>
    {% for location in contactInstance.location_set.all %}
        <li><a >{{location.name}}</a>    <a href="/register/{{ contactInstance.id }}/location/{{ location.id }}/">Editar</a></li>
        <ul>
            {% for info in location.locationinfo_set.all %}
                <li><a>{{ info.type }}: {{ info.value }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% else %}
    <p>No tiene locaciones registradas.</p>
{% endif %}


</body>
</html>